# /etc/systemd/system/eurekaserver1@.service

[Unit]
Description=DS Migration Eureka Peer1 Service

[Service]
WorkingDirectory=/home/migration/deployment/eurekaserver
User=migration

ExecStart=/usr/bin/java -Xms256m -Xmx512m -XX:NewSize=64m -XX:MaxNewSize=64m -XX:MaxMetaspaceSize=128m -XX:CompressedClassSpaceSize=64m -Xss256k -XX:InitialCodeCacheSize=16m -XX:ReservedCodeCacheSize=64m -XX:MaxDirectMemorySize=32m -XX:-TieredCompilation -XX:+UseG1GC -XX:+UseStringDeduplication -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/home/migration/deployment/eurekaserver -XX:+UseGCOverheadLimit -Dlogging.file=%i.log -Dspring.profiles.active=peer1 -Dmig.peer1Port=8190 -Dmig.peer2Port=8191 -Dlogging.file=/home/migration/deployment/eurekaserver/8190.log -Dlogging.file.max-size=500MB -jar ds-migration-eureka-server-0.0.1-SNAPSHOT.jar

Type=simple

[Install]
WantedBy=multi-user.target