# /etc/systemd/system/auditdataconsumer@8590.service

[Unit]
Description=Auditdata consumer consumer

[Service]
WorkingDirectory=/home/migration/deployment/auditdataconsumer
User=migration

ExecStart=/usr/bin/java -Xms512m -Xmx4096m -XX:NewSize=64m -XX:MaxNewSize=128m -XX:MaxMetaspaceSize=128m -XX:CompressedClassSpaceSize=256m -Xss512k -XX:InitialCodeCacheSize=128m -XX:ReservedCodeCacheSize=256m -XX:MaxDirectMemorySize=256m -XX:+UseG1GC -XX:+UseStringDeduplication -XX:+HeapDumpOnOutOfMemoryError -XX:+UseGCOverheadLimit -XX:HeapDumpPath=home/migration/deployment/auditdataconsumer -Dlogging.file=%i.log -Dserver.port=%i -Dlogging.path=/home/migration/deployment/auditdataconsumer -Dlogging.file.max-size=500MB -Dmig.peer1-address=peer1:8190 -Dmig.peer2-address=peer2:8191 -Dspring.profiles.active=prod -jar ds-migration-auditdata-consumer-0.0.1-SNAPSHOT.jar

Type=simple

[Install]
WantedBy=multi-user.target